// Text Font
$font: 'Times new roman';

// Colors
$app-back-color: #F7F7F7;

$cancel-button-back-color: #C9C8C3;
$cancel-button-font-color: #686765;

$header-text-color: #91A2AA;

$item-name-color: #33353A;

$normal-text-color: #434854;

$pay-all-back-color: #80B3E5;
$pay-all-font-color: #304A63;

$pay-button-back-color: #80B3E5;
$pay-button-font-color: #304A63;

$pay-part-back-color: #7ECC8A;
$pay-part-font-color: #3A5E3F;

$price-left-color: #8E524B;
$price-pay-color: #6B95BF;

$status-back: #CCC3C5;
$status-front: #AC7B84;

$table-color: #33353A;
