$app-back-color: #F7F7F7;
$price-left-color: #8E524B;
$normal-text-color: #434854;
$pay-button-back-color: #80B3E5;
$pay-button-font-color: #304A63;
$cancel-button-back-color: #DBCEAB;
$cancel-button-font-color: #664F2E;
